<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="profile.css">    
    <link rel="stylesheet" type="text/css" href="modals.css">    
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>  
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link href = "toastr.css" rel = "stylesheet" type = "text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="profile.js"></script>


    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        overflow: auto;
      }

    </style>


  </head>
  
<body style="margin:0;min-width: 1100px;">
  <header id="header">
      <a href="/" class="brand" id="in" style="text-decoration:none" tabindex="9">
        <span>project: cinta</span>
      </a>

      <ul class="header_list">
        <li><a href="/logout" id="leave" tabindex="8">Sign Out</a></li>
        <li><a href="#editAccount" data-toggle="modal" id="acct" tabindex="7">Account</a></li>
        <li><a href="/profile" id="prof" tabindex="6">Profile</a></li>  
        <li><a href="/pitches" id="pitch" tabindex="5">Pitches</a></li>
      </ul>
  </header>

<!--Name etc. and Tabs-->
  <div id="top">
    <span id="name"><%=name%></span>
    <a href="/new" id="newProject" tabindex="4">Start new project</a>
  </div>  
    <br><br>
  <div id="nav">
    <ul class="nav_list">
    <li id="navPort" onfocus="showPort();" class="selectedPort" tabindex="3">Portfolio</li>
    <li id="navProj" onfocus="showProj();" tabindex="1">Project</li>
    <li id="navProg" onfocus="showProg();" tabindex="2">Progress</li>

          <script>
          $("document").ready(function(){
          $('li#navPort').focus(function(){
            $('li#navPort').addClass("selectedPort");
          })
          $("li#navPort").focus(function() {
            $('li#navProj').removeClass("selectedProj");
            })
          $("li#navPort").focus(function() {
            $('li#navProg').removeClass("selectedProg");
            });
          });          
          </script>
          <script>
          $("document").ready(function(){
          $('li#navProj').focus(function(){
            $('li#navProj').addClass("selectedProj");
          })
          $("li#navProj").focus(function() {
            $('li#navPort').removeClass("selectedPort");
            })
          $("li#navProj").focus(function() {
            $('li#navProg').removeClass("selectedProg");
            });
          });          
          </script>
          <script>
          $("document").ready(function(){
          $('li#navProg').focus(function(){
            $('li#navProg').addClass("selectedProg");
          })
          $("li#navProg").focus(function() {
            $('li#navPort').removeClass("selectedPort");
            })
          $("li#navProg").focus(function() {
            $('li#navProj').removeClass("selectedProj");
            });
          });          
          </script>  

<!--Clicking current project name in portfolio-->
          <script>
          $("document").ready(function(){
          $('ul#currentInfo').click(function(){
            $('li#navProj').addClass("selectedProj");
          })
          $("ul#currentInfo").click(function() {
            $('li#navPort').removeClass("selectedPort");
            })
          $("ul#currentInfo").focus(function() {
            $('li#navProg').removeClass("selectedProg");
            });
          });          
          </script>   
<!--end clicking current project name in portfolio-->

    </ul>

  </div>

<!--Main Content-->
  <div id="content">
    <div id="contentWrap">
<!--Portfolio-->    
      <div id="portfolioContent">
        <div id="basicInfo">
          <img class="profile_pic" id="portfolioPic" src="<%=img%>">
          <div id="schoolStuff">
            <span id="schoolName"><%=school%></span><br>
            <span id="schoolLocation"><%=location%></span>
          </div>
        </div>
        <div id="previousProjects">
          <br>
          <span class="profile_label">Current Project:</span><br>
          <ul id="currentInfo" class="project_portfolio_list" onclick="showProj();">
            <li id="currentName"><%=projectName%></li>
            <li id="currentTime" style="display:none">1976 - present</li>
          </ul>
          <span class="profile_label">Past Projects:</span><br><br>
          <table id="pastInfo">
            <tr class="past_project first">
              <td id="pastName" >Project: Cinta</td>
              <td id="pastTime">May, 2013 - September, 2013</td>
            </tr>
            <tr class="past_project">
              <td id="pastName">Stamp.fm</td>
              <td id="pastTime">October, 2011 - June, 2012</td>
            </tr>
            <tr class="past_project">
              <td id="pastName">Save the Rainforests</td>
              <td id="pastTime">October, 2010 - June, 2011</td>
            </tr>  
            <tr class="past_project">
              <td id="pastName">Mentorship Club</td>
              <td id="pastTime">October, 2010 - June, 2011</td>
            </tr>  
            <!-- 
            <tr class="past_project">
              <td id="pastName">Be Awesome!</td>
              <td id="pastTime">October, 2009 - June, 2010</td>
            </tr>   
            -->                                                          
          </table>  
        </div>  
      </div>
<!--Project-->
      <div id="projectContent" style="display:none;">
        <div id="projectInfo">
          <img class="profile_pic" id="logo" src="<%=projImg%>">
          <div id="projectStuff">
            <span id="projectName"><%=projectName%></span><br>
            <ul id="teamMembers">
            <% members.forEach(function(member){ %>
              <li> <%= member %> </li>
            <% }); %>
            </ul>

            <span>Tags</span>
            <ul id="tagList">
            	<% tags.forEach(function(tag){ %>
            		<li> <%=tag %> </li>
            	<% }); %>
            </ul>
          </div>
          <div id="projectPitch">
            <iframe width="300" height="150" src="<%=link%>" frameborder="5" allowfullscreen></iframe><br>
            <input id="request" type="submit" class="buttonBlue" value="Request to Join">
          </div>
        </div>
        <div id="projectDescription">
          <p>
          <%=description%>
          </p>          
        </div>        

      </div>

<!--Progress-->
      <div id="progressContent" style="display:none;">
        <div id="progressInfo">
          <span id="goal">Goals <a href="#addGoal" data-toggle="modal" id="plusGoal" class="buttonBlue">+ Add</a></span>
          <span id="achieved">Achieved</span><br><br>
          <% if(goals != undefined){ %>
          	<ul id="goalsInfo">
          	<% goals.forEach(function(goal){ %>
          		<% if(goal.status == "unfinished"){ -%>
          			<li class = "goalRow">
          				<span class = "goalName"> <%=goal.goal%> </span>
          				<span class = "goalCheck"><input type = "button" class = "buttonCheck" value = "&#10003;"></span>
          				<span class="goalEx"><input type="button" class="buttonEx" value="&#10007;"></span>
            		</li>
          		<% } %>
          	<% }); %>
          </ul>
          <ul id="achievedInfo">
          	<% goals.forEach(function(goal){ %>
          		<% if(goal.status == "finished"){ %>
          			<li class="achievedRow">
              			<span class="goalName">goal.goal</span>
              			<span class="achievedBack"><input type="button" class="buttonBack" value="&#8617;"></span>
            		</li>
          		<% } %>
          	<%	}); %>                                               
          </ul>
          <% } else { %>
          	<ul id = "goalsInfo">
          	</ul>
          	<ul id = "achievedInfo">
          	</ul>

          <% } %>                      
        </div>

    </div>
  </div>

<!--Are you sure modal-->


  <div id = "areyousure" class = "modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <span data-dismiss="modal" aria-hidden="true" style = "float:right; cursor:pointer;">x</span>
      <h3> Are you sure about that? </h3> 
    </div>  
      <div id = "areyousureContent">
        <!-- CONTENT GOES HERE -->
        <p> It looks like you're already a part of a different project. </p>
        <p> If you successfully create or join a new project, your progress on your current project will be lost.</p>
        <p> If you're okay with that, please click YES. If not, click NO. </p>
      </div>
    <div class="modal-footer">
      <button class="buttonRed" data-dismiss="modal" aria-hidden="true" style="">No</button>
      <a href="/new" id="newYes" class="button">Yes</a>
    </div>
  </div>

<!--end are you sure modal-->
 
<!--Account Modal-->
<div id="editAccount" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <span data-dismiss="modal" aria-hidden="true" style="float:right; cursor:pointer;">×</span>
    <h3>Edit Your Account</h3>
  </div>

  <div class="modal-body">
  <div id="loginInfo">

  <!--BEGIN FORM-->

    <form id="accountForm">
      <label>Change Your Email</label><br>
      <input type="email" class="input" name="emailNew" placeholder="New Email"><br><br>
      <label>Change Your Password</label><br>
      <input type="password" class="input" name="passNew" placeholder="New Password"><br><br>
      <label>Confirm New Password</label><br>
      <input type="password" class="input" name="passConfirmNew" placeholder="Re-type New Password"><br><br>
      <label>Profile Picture</label><br>
      <img id="previewProf" src="<%=img%>"><br>
      <input type="button" id="uploadPictureProf" class="buttonBlue" value="Upload New Picture"><br><br><br>
      <input type="file" id="uploadPicProf" name="profPicNew" style="display:none;">
  </div>

  <div id="profileInfo">
      <label>Change Your First Name</label><br>
      <input type="text" class="input" name="firstNameNew" placeholder="First Name"><br><br>
      <label>Change Your Last Name</label><br>
      <input type="text" class="input" name="lastNameNew" placeholder="Last Name"><br><br>
      <label>Change Your High School</label><br>
      <input type="text" class="input" name="highSchoolNew" placeholder="High School"><br><br>
      <label>Change Your Location</label><br>
      <input type="text" class="input" name="locationNew" placeholder="Location"><br><br><br>
      <label>Enter Current Password to Confirm Changes</label><br>
      <input type="password" class="input" name="currentPassApprove" placeholder="Current Password"><br><br>
  </div>  
  </div>

  <div class="modal-footer">
    <button class="buttonRed" data-dismiss="modal" aria-hidden="true" style="">Close</button>
    <input type="submit" class="button" value="Save" style="">
  </div>
</form>

    <!--END FORM-->
</div>


<!--Add goal modal-->

  <div id = "addGoal" class = "modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <span data-dismiss="modal" aria-hidden="true" style = "float:right; cursor:pointer;">x</span>
      <h3> Add a Goal </h3> 
    </div>  
      <div id = "addGoalContent">
        <!-- CONTENT GOES HERE -->
        <label>Create New Goal</label><br><br>
        <form method = "POST" id = "goalForm">
          <input type="text" id = "newwGoal" class="input" name="newGoal" placeholder="New Goal" required><br>
          <input type="submit" id = "goalSubmit" class="button" value="Add" style="">
        </form>
      </div>
    <div class="modal-footer">
      <button class="buttonRed" data-dismiss="modal" aria-hidden="true" style="">Cancel</button>
    </div>
  </div>

<!--end add goal modal-->



<!--Picture Preview-->
<script type="text/javascript">      
function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
        $('#previewProf').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#uploadPicProf").change(function(){
  readURL(this);
});
</script>
<!--End Picture Preview-->
<!--Project Pic Upload Dialog-->    
<script>
$('#uploadPictureProf').click(function() {
  $('#uploadPicProf').click();
});
</script>
<!--END Project Pic Upload Dialog-->

<!--Link to modal JS file-->
<script src="modals.js"></script>
<script src = "toastr.js"></script>
<!--end link to modal JS file-->






</body>
</html>